.navlink {
    @apply 
    text-[#3E445A] 
    font-semibold py-[10.5px] 
    px-[18px] rounded-[40px] 
    transition-all 
    duration-300;
}
.active,
.navlink:hover {
    @apply 
    bg-[#F0FAFF] 
    text-[#35AFA0];
  }
  